<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maigen.api.mapper.PointsRecordMapper">

    <resultMap id="BaseResultMap" type="com.maigen.api.entity.PointsRecord">
            <id property="id" column="id" />
            <result property="user_id" column="user_id" />
            <result property="amount" column="amount" />
            <result property="source" column="source" />
            <result property="related_id" column="related_id" />
            <result property="description" column="description" />
            <result property="created_at" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,amount,source,related_id,description,
        created_at
    </sql>
</mapper>
